@charset "utf-8";

/* 公用样式开始 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

address, cite, dfn, em, var {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

/* 清除浮动 */
.clearfix:after, .nav:after, .content:after, .grid:after, .h:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.clearfix, .nav, .content, .grid, .h {
    *zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    visibility: hidden;
}

/* 通用 */
input, label, button, input, select, textarea { vertical-align: middle; font-family: "微软雅黑"; }

/* 链接 */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #004284;
    text-decoration: none;
}

a:active {
    outline: none;
}

/* 自定义 */
body {
    font-family: "微软雅黑", microsoft yahei;
    font-size: 14px;
    background: #fff;
    color: #333;
}

.goRight {
    float: right;
    _display: inline;
}

.more {
    font-size: 12px;
    font-weight: normal;
}
.more a {
    font-size: 12px;
    font-weight: normal;
}
.noMargin {
    margin: 0 !important;
}


.hide {
    display: none;
}
.hidden {
    display: none;
}
.display {
    display: block;
}

/*颜色*/
.red {
    color: #CD0001;
}

.blue {
    color: #1E61A5;
}
/*横向间隔定义高*/
.blank0 {clear:both; height:0px; overflow:hidden; display:block;}
.blank1 {clear:both; height:1px; overflow:hidden; display:block;}
.blank2 {clear:both; height:2px; overflow:hidden; display:block;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank4 {clear:both; height:4px; overflow:hidden; display:block;}
.blank5 {clear:both; height:5px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank7 {clear:both; height:7px; overflow:hidden; display:block;}
.blank8 {clear:both; height:8px; overflow:hidden; display:block;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block;}
.blank10 {clear:both; height:10px; overflow:hidden; display:block;}
.blank11 {clear:both; height:11px; overflow:hidden; display:block;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank13 {clear:both; height:13px; overflow:hidden; display:block;}
.blank14 {clear:both; height:14px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank16 {clear:both; height:16px; overflow:hidden; display:block;}
.blank17 {clear:both; height:17px; overflow:hidden; display:block;}
.blank18 {clear:both; height:18px; overflow:hidden; display:block;}
.blank19 {clear:both; height:19px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
.blank21 {clear:both; height:21px; overflow:hidden; display:block;}
.blank22 {clear:both; height:22px; overflow:hidden; display:block;}
.blank23 {clear:both; height:23px; overflow:hidden; display:block;}
.blank24 {clear:both; height:24px; overflow:hidden; display:block;}
.blank25 {clear:both; height:25px; overflow:hidden; display:block;}
.blank26 {clear:both; height:26px; overflow:hidden; display:block;}
.blank27 {clear:both; height:27px; overflow:hidden; display:block;}
.blank28 {clear:both; height:28px; overflow:hidden; display:block;}
.blank29 {clear:both; height:29px; overflow:hidden; display:block;}
.blank30 {clear:both; height:30px; overflow:hidden; display:block;}

/*纵向间隔定义宽*/
.iblank1{ width:1px; height:10px; float:left; overflow:hidden; display:block;}
.iblank2{ width:2px; height:10px; float:left; overflow:hidden; display:block;}
.iblank3{ width:3px; height:10px; float:left; overflow:hidden; display:block;}
.iblank4{ width:4px; height:10px; float:left; overflow:hidden; display:block;}
.iblank5{ width:5px; height:10px; float:left; overflow:hidden; display:block;}
.iblank6{ width:6px; height:10px; float:left; overflow:hidden; display:block;}
.iblank7{ width:7px; height:10px; float:left; overflow:hidden; display:block;}
.iblank8{ width:8px; height:10px; float:left; overflow:hidden; display:block;}
.iblank9{ width:9px; height:10px; float:left; overflow:hidden; display:block;}
.iblank10{ width:10px; height:10px; float:left; overflow:hidden; display:block;}
.iblank11{ width:11px; height:10px; float:left; overflow:hidden; display:block;}
.iblank12{ width:12px; height:10px; float:left; overflow:hidden; display:block;}
.iblank13{ width:13px; height:10px; float:left; overflow:hidden; display:block;}
.iblank14{ width:14px; height:10px; float:left; overflow:hidden; display:block;}
.iblank15{ width:15px; height:10px; float:left; overflow:hidden; display:block;}
.iblank16{ width:16px; height:10px; float:left; overflow:hidden; display:block;}
.iblank17{ width:17px; height:10px; float:left; overflow:hidden; display:block;}
.iblank18{ width:18px; height:10px; float:left; overflow:hidden; display:block;}
.iblank19{ width:19px; height:10px; float:left; overflow:hidden; display:block;}
.iblank20{ width:20px; height:10px; float:left; overflow:hidden; display:block;}